.hashtagBox{
	justify-content: center;
	display: flex;
}

.hashtagContent{
	margin: 20px;
	font-size: 100%;
	font-weight: 700;
	text-align: center;
	padding: 10px;
	border: 0px;
	border-radius: 10px;
	background-color: #9fd7b3;
}