@charset "EUC-KR";

header {
  display: flex ;  
  position:fixed ;
  width:100vw ;
  height:6vh ;
  background-color:transparent ;
  z-index:1 ;
  font-family: 'Noto Sans KR', sans-serif ;
}

h3 {
  margin-left:20px ;
  vertical-align:middle ;
}

nav {
  position: absolute ;
  right: 0 ;
}

ul{
	list-style:none ;
}

li {
    margin: 0 9px ;
    padding: 0 0 0 0 ;
    border : 0 ;
    float: left ;
}

a{
	text-decoration:none ;
	color:black; 
}