.content3{
	text-align:center;
	justify-content:center;
	height:100%;
	display: flex;
	align-items: center;
	font-family: 'Noto Sans KR', sans-serif;
}

.selectBox{
	width:260px;
	height:60px;
	font-size: 1.4rem;
	padding-left: 20px;
	padding-right: 20px;
	border-radius: 20px;
	background-color: #CAD2C5;
	text-align:center;
	margin-bottom:20px;
	font-family: 'Noto Sans KR', sans-serif;
}

.selectBox:hover {
	cursor: pointer;
}

.optionBox{
	background-color:#CAD2C5;
}


.bldg-box{
	margin-bottom:30px;
	width:1000px;
	height:300px;
	background-color:#CAD2C5;
	position:relative;
	justify-content: center;
	display: flex;
	align-items: center;
	text-align: center;
	border-radius: 20px;
	font-family: 'Noto Sans KR', sans-serif;
}

.resetBtn{
	width: 30px;
	height: 30px;
	cursor: pointer;
	position:absolute;
	top:80%;
	left:95%;
	
}

.btn:hover {
	cursor: pointer;
}


ul.ks-cboxtags {
    list-style: none;
    padding: 20px;
}
ul.ks-cboxtags li{
  display: inline;
}
ul.ks-cboxtags li label{
    display: inline-block;
    background-color: rgba(255, 255, 255, .9);
    border: 2px solid rgba(139, 139, 139, .3);
    color: #5c5c5c;
    border-radius: 25px;
    white-space: nowrap;
    margin: 3px 0px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    transition: all .2s;
    margin:8px 4px;
}

ul.ks-cboxtags li label {
    padding: 12px 20px;
    cursor: pointer;
    font-size:1.3rem;
}

ul.ks-cboxtags li input[type="checkbox"]:checked + label {
    background-color: #354F52;
    color: #fff;
}

ul.ks-cboxtags li input[type="checkbox"] {
  position: absolute;
  opacity: 0;
  display:none;
}

.submitBtn {
	all: unset;
	background: #2F3E46;
	width:150px;
	height:60px;
	border-radius: 50px;
	cursor: pointer;
	font-weight: 700;
	position: relative;
	transition: all 300ms ease;
	color:white;
	font-size:20px;
}

.submitBtn span {
	display: inline-block;
	transition: all 300ms ease;
}

.submitBtn:before, .subscribe-box .subscribe button:after {
	content: "";
	display: block;
	position: absolute;
	transition: all 300ms ease;
	opacity: 0;
}

.submitBtn:before {
	height: 7px;
	width: 7px;
	background: transparent;
	border-right: 2px solid;
	border-top: 3px solid;
	right: 30px;
	top: 25px;
	transform: rotate(45deg);
}

.submitBtn:after {
	background: white;
	height: 2px;
	width: 50px;
	left: 0;
	top: 1.49em;
}

.submitBtn:hover span {
	transform: translateX(-10px);
}

.submitBtn:hover:before {
	opacity: 1;
}

.submitBtn:hover:after {
	width: 14px;
	opacity: 1;
	transform: translateX(120px);
}

#locationImg{
	 width:75px;
	 height:75px;
	 position:absolute;
}
