html,body{
	padding:0;
	margin:0;
	width:100%;
	height:100%;
	font-family: 'Nanum Myeongjo', serif;
}

.content3{
	height: 90%;
	position:relative;
	justify-content: center;
	display: flex;
	align-items: center;
	text-align: center;
}

.selectBox{
	margin: 10px;
	width:260px;
	height:60px;
	font-size: 1.5rem;
	font-weight: 620;
	padding-left: 20px;
	padding-right: 20px;
	border: 3px solid #354F52;
	border-radius: 20px;
	background-color: #CAD2C5;
	text-align:center;
	font-family: 'Nanum Myeongjo', serif;
}

.selectBox:hover {
	cursor: pointer;
}

.optionBox{
	background-color:#CAD2C5;
	text-align:center;
	font-family: 'Nanum Myeongjo', serif;
}


.bldg-box{
	margin-top:70px;
	margin-bottom:70px;
	width:1000px;
	height:300px;
	background-color:#CAD2C5;
	position:relative;
	justify-content: center;
	display: flex;
	align-items: center;
	text-align: center;
	border: 3px solid #354F52;
	border-radius: 20px;
}

.btn{
	margin: 20px;
	width: 36px;
	height: 36px;
	text-align: center;
	border: 0px;
	border-radius: 5px;
}

.btn:hover {
	cursor: pointer;
}

ul.ks-cboxtags {
    list-style: none;
    padding: 20px;
}
ul.ks-cboxtags li{
  display: inline;
}
ul.ks-cboxtags li label{
    display: inline-block;
    background-color: rgba(255, 255, 255, .9);
    border: 2px solid rgba(139, 139, 139, .3);
    color: #5c5c5c;
    border-radius: 25px;
    white-space: nowrap;
    margin: 3px 0px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    transition: all .2s;
    margin:10px 5px;
}

ul.ks-cboxtags li label {
    padding: 15px 20px;
    cursor: pointer;
    font-size:1.3rem;
}

ul.ks-cboxtags li input[type="checkbox"]:checked + label {
    border: 2px solid #2F3E46;
    background-color: #354F52;
    color: #fff;
}

ul.ks-cboxtags li input[type="checkbox"] {
  position: absolute;
  opacity: 0;
  display:none;
}

.submitBtn {
	all: unset;
	margin-top: 1em;
	background: #2F3E46;
	width:150px;
	height:60px;
	border-radius: 50px;
	cursor: pointer;
	font-weight: 700;
	position: relative;
	transition: all 300ms ease;
	color:white;
	font-size:20px;
	margin-top:80px;
}
