@charset "EUC-KR";

html,body{
	padding:0;
	margin:0;
	width:100%;
	height:100%;
	font-family: 'Nanum Myeongjo', serif;
	
}

.content{
	height:100vh;
}

/*content1*/
.siteName{
	width:450px;
	position:absolute;
	top:25%;
	left:15%;
	background-color:#52796f;
	border-radius: 50%;
	font-size:5em;
	text-align:center;
	padding:30px 0;
	color:white;
	font:bold;
}

.picture{
	position:absolute;
	right:10%;
	top:20%;
	width:40%;
	height:60%;
}

.picture img{
	width:100%;
	height:100%;
}

/*
.picture_1
{
	position:absolute;
	right:15%;
	top:15%;
	z-index:2;
}

.picture_1 img{
	width:50%;
	height:50%;
	
}

.picture_2
{
	position:absolute;
	right:4%;
	top:220px;
	z-index:1;
}

.picture_2 img{
	width:70%;
	height:70%;

}
*/

/*content2*/
.subscribe-box {
	padding-top:15%;
	text-align:center;
}

.subscribe-box h2 {
	margin: 0 0 0.85em 0;
	font-weight: 100;
	font-size: 50px;
}

.subscribe-box .subscribe {
	width: 100%;
	max-width: 600px;
	margin: auto;
}

.subscribe-box .subscribe input {
	width: 100%;
	background: transparent;
	border: 0;
	border-bottom: 1px solid;
	padding: 1em 0 0.8em;
	text-align: center;
	font-size: 18px;
	font-family: inherit;
	font-weight: 300;
	line-height: 1.5;
	outline: none;
}

.subscribe-box .subscribe button {
	all: unset;
	margin-top: 2.4em;
	background: #354F52;
	padding: 1em 4em;
	border-radius: 50px;
	cursor: pointer;
	display: inline-block;
	font-weight: 700;
	position: relative;
	transition: all 300ms ease;
	color:white;
}

.subscribe-box .subscribe button span {
	display: inline-block;
	transition: all 300ms ease;
}

.subscribe-box .subscribe button:before, .subscribe-box .subscribe button:after {
	content: "";
	display: block;
	position: absolute;
	transition: all 300ms ease;
	opacity: 0;
}

.subscribe-box .subscribe button:before {
	height: 7px;
	width: 7px;
	background: transparent;
	border-right: 2px solid;
	border-top: 2px solid;
	right: 30px;
	top: 21px;
	transform: rotate(45deg);
}

.subscribe-box .subscribe button:after {
	background: white;
	height: 2px;
	width: 50px;
	left: 0;
	top: 1.49em;
}

.subscribe-box .subscribe button:hover span {
	transform: translateX(-10px);
}

.subscribe-box .subscribe button:hover:before {
	opacity: 1;
}

.subscribe-box .subscribe button:hover:after {
	width: 14px;
	opacity: 1;
	transform: translateX(160px);
}

.searchBoxonMain{
	position: relative;
	justify-content: center;
	top: 10%;
}

/*content3*/

