@charset "EUC-KR";

html,body{
	padding:0;
	margin:0;
	width:100%;
	height:100%;
	font-family: 'Nanum Myeongjo', serif;
}

.content{
	height:100vh;
}

.siteName{
	width:450px;
	position:absolute;
	top:20%;
	left:15%;
	background-color:#5E8680;
	border-radius: 50%;
	font-size:5em;
	text-align:center;
	padding:30px 0;
	color:white;
	font:bold;
}

.picture_1
{
	position:absolute;
	right:15%;
	top:15%;
	z-index:2;
}

.picture_1 img{
	width:50%;
	height:50%;
	
}

.picture_2
{
	position:absolute;
	right:4%;
	top:220px;
	z-index:1;
}

.picture_2 img{
	width:70%;
	height:70%;

}
