@charset "EUC-KR";

.row{
	box-sizing: border-box;
	position: absolute;
	width: 1211px;
	height: 68px;
	left: 114px;
	top: 105px;

	background: #FFFFFF;
	border: 1px solid #000000;
	border-radius: 10px;
}

.search_text{
	position: absolute;
	left: 342px;
	top: 21px;
	border-right : 2px solid #000000;


	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: 23px;
	line-height: 28px;
	text-align: center;

	color: #0148FE;
}

.form-control{
	position: absolute;
	width: 587px;
	height: 26px;
	left: 490px;
	top: 21px;	
	border: none;
	
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: 23px;
	line-height: 28px;

	color: #000000;
}

hr{
	position: absolute;
	width: 735px;
	height: 0px;
	left: 342px;
	top: 45px;
}

#hospital_name{
	box-sizing: border-box;

	position: absolute;
	width: 330px;
	height: 394px;
	left: 169px;
	top: 216px;
	border-radius: 20px;
}


#map{
	position: absolute;
	width: 720px;
	height: 394px;
	left: 550px;
	top: 216px;
	border-radius: 20px;
	background: url(1Z3ZH3NNZ7_1.png);
}

#hospital_information{
	position: absolute;
	width: 1100px;
	height: 233px;
	left: 169px;
	top: 636px;
}

#hospital_review{
	position: absolute;
	width: 1100px;
	height: 233px;
	left: 169px;
	top: 910px;
}